---

---

<section class="max-w-screen-xl">
  <img
    class="mx-auto"
    src="https://raw.githubusercontent.com/danuruiz7/portfolioAstro/main/public/Banner.jpeg"
    alt=""
  />
</section>

<style></style>
