---
import '../style/global.css';
---

<footer
  class="w-full bg-gray-800 text-white font-bold p-1 text-center border-gray-700"
>
  <span>
    Desarrollado por{' '}
    <strong class="animated-title">Daniel Ruiz</strong> 💻
  </span>
</footer>
